body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.alan {
    width: 160px;
    height: 100px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    background-color: azure;
    border-bottom: 6px solid rgb(244, 153, 153);
}


 